<h1>homepage</h1>
<div class="container card" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
  aria-controls="collapseExample">
  <div class="row p-1">
    <h1 class="col-6 my-auto">BLOG POST 1</h1>
    <div class="col-6 d-flex flex-column">
      <p class="col-12 my-0 text-muted text-end">Posted October 11th, 2021</p>
      <p class="col-12 my-0 text-muted text-end">By AgileDev</p>
    </div>
  </div>
  <div class="collapse col-12" id="collapseExample">
    <hr>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <h6 class="card-subtitle mb-2 text-muted">Last Updated October 12th, 2021</h6>
      <hr>
      <div>
        <button class="btn btn-warning">
          Leave a Comment
        </button>
      </div>
    </div>
  </div>
</div>