body {
  font-size: large;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  font-weight: bold;
}

a.nav-link, .navbar-brand {
  transition: color 0.2s;
}

a.nav-link:hover, .navbar-brand:hover {
  color:red !important;
  transition: color 0.2s;
}

.collapse {
  flex-grow: 0;
}

.d-hidden {
  visibility: hidden !important;
}

.accordion-button {
  font-weight: bolder !important;
  font-size: large;
  font-style: italic;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}